:root {
  --color-bg-gradient-from: #ffd6f4;
  --color-bg-gradient-to: #ffe6fa;
  --color-pink-main: #e87ebd;
  --color-pink-hover: #b94490;
  --color-pink-border: #f6c1e8;
  --color-pink-shadow: #ffd2f8b8;
  --color-pink-shadow-light: #ffd2f8b8;
  --color-pink-shadow-submenu: #da84b64d;
  --color-pink-submenu-bg: #fff0fa;
  --color-pink-submenu-border: #ffd6f4;
  --color-mobile-menu-bg: #fff;
  --color-mobile-menu-shadow: #dab4d530;
  --color-mobile-menu-border: #f3d2ed;
  --color-mobile-menu-list-border: #f7e5f3;
  --color-mobile-submenu-bg: #faf5fa;
  --color-mobile-submenu-hover-bg: #fbd3f3;
  --color-mobile-accent: #d968a7;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive, sans-serif !important;
  /* background: linear-gradient(90deg, #ffd6f4 0%, #ffe6fa 100%); */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Swiper arrow nổi bật */
/* .swiper-button-prev,
.swiper-button-next {
  color: #fff;
  background: #0070f3;
  border: 3px solid #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,0.18);
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, color 0.2s, border 0.2s;
} */
/* .swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #ff9800;
  color: #fff;
  border-color: #ffd600;
} */
.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}
.swiper,
.swiper-wrapper,
.swiper-slide {
  background-color: white !important;
}
/* .swiper-button-next,
.swiper-button-prev {
  color: #ff5a5f;
  background: #fff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff5a5f;
  transition: color 0.2s, background 0.2s, border 0.2s;
} */
/* .swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff;
  background: #ff5a5f;
  border-color: #ff5a5f;
} */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 32px !important;
}
.btn {
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  background: #eee;
  color: #333;
  cursor: pointer;
  margin: 0 6px;
  transition: 0.2s;
}
.btn-success { background: #28a745; color: #fff;}
.btn-danger { background: #dc3545; color: #fff;}